@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sahel : "sahel";
    --font-sahel-semibold : "sahel semiBold";
    --font-sahel-bold : "sahel bold";
}

@custom-variant child "& > *";
@custom-variant child-hover "& > *:hover";


@layer utilities {
    .my_container {
        @apply w-9/10 mx-auto
    }

    .bg_gradient_orange:hover {
        @apply bg-linear-to-r from-[#FF8904] to-[#FF6900]
    }

    .bg_gradient_orange_main {
        @apply bg-linear-to-r from-[#FF8904] to-[#FF6900]
    }

    nav a.active {
        @apply text-orange-500
    }

    nav a.active::after {
        @apply content-[''] w-full h-1 absolute -bottom-7.5 translate-y-0.5 rounded-full bg-linear-to-r from-[#FF8904] to-[#FF6900]
    }
}

@layer base {
    @font-face {
        font-family: "sahel";
        src: url('../assets/fonts/sahel/Sahel-FD.woff2') format('woff2');
    }
    @font-face {
        font-family: "sahel semiBold";
        src: url('../assets/fonts/sahel/Sahel-SemiBold-FD.woff2') format('woff2');
    }
    @font-face {
        font-family: "sahel bold";
        src: url('../assets/fonts/sahel/Sahel-Bold-FD.woff2') format('woff2');
    }
}